{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

		<div class="row top-menu">
			<div class="col-md-10"></div>
			<div class="col-md-12 text-right"></div>
		</div>
		<div class="row divider blue">
			<div class="col-md-12"></div>
		</div>
		<div class="row banner main">
			<div class="col-md-1"></div>
			<div class="col-md-11 padding-none">
				<h1>Categories</h1>
			</div>
		</div>

		<div class = 'flash'>
		    {% with messages = get_flashed_messages() %}
      			{% if messages %}
          
        			<ul>
        				{% for message in messages %}
            				<li> <strong> {{ message }} </strong> </li>
        				{% endfor %}
        			</ul>
      			{% endif %}
    		{% endwith %}

		</div>

		<div class="row padding-top padding-bottom">
			<div class="col-md-1"></div>
			<div class="col-md-10 padding-none">
				<a href="{{url_for('newCategory')}}" >
					<button class="btn btn-default" id="new-category">
						<span aria-hidden="true"></span>Add Category
						
					</button>
				</a>
			</div>
			<div class="col-md-1"></div>
			
		</div>

		{% for category in categories %}
		<section>
			<section class="col-md-4">
					<div class="row">
						<div class="col-md-1"></div>
						<ul class="cat-thumbnail">
							<li class="box">
								<div class="hover-effect">
								<div class="blue-bg__wrapper">
									<div class="blue-bg">
										<div class="blue-bg__content">
											<div class="blue-bg__content__inside">
												<h3>Enjoy the Power of the Movie</h3>
												<a href = "{{url_for('showCatalogItem', category_id = category.id)}}" class="btn">
													{{category.name}}
													
												</a>
											</div>
										</div>
									</div>
								</div>
								<span class="title-wrapper">
									<span>{{category.name}}</span>
								</span>

							    <img class="img-responsive" src="{{category.image}}" alt="Image" style="height: 350px;">
								
								</div>
							</li>
							    <figcaption>
							    	<a href = "{{url_for('editCategory', category_id = category.id)}}">Edit</a>
							    	<a href = "{{url_for('deleteCategory', category_id = category.id)}}">Delete</a>
							    </figcaption>
						    
						</ul>
						<div class="col-md-1"></div>
					</div>
			</section>
		</section>

	{% endfor %}
{% endblock %}