{%  extends 'layout.html' %}

{% block body %}
    {% include "flash.html" %}
    <div class="col s12 m7">
    <h2 class="header">{{ manga.name }}</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="{{ manga.image }}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
            <a  href="{{ manga.name }}/edit"><button class="waves-effect purple darken-4 btn-large" type="submit" >Edit</button></a>
            <a  href="{{ manga.name }}/delete"><button class="waves-effect red accent-4 btn-large" type="submit" >Delete</button></a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}