{% extends 'layout.html' %}

{% block body %}
<section id="login" class="section">
    <h1>Login</h1>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input  id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
    </form>
          <span class="g-signin"
            data-scope="openid email"
            data-clientid="238648918120-21v6f3rt69vd17f1gmvhpbsjq598rv1t.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
          </span>
<div id="result"></div>
</section>
{% endblock %}